/* 
_____________________________________
The VARIABLES have to be configured for every project.
This is just an example.
The names need to stay the same to ensure consistency throughout projects. 
Name changes + additional classes need to be documented and/or updated in notion. 

xs = extra small
sm = small medium
md = medium
lg = large
xl = extra large
_____________________________________
*/

/* colors (prefix: c) */
$c-black: #000000;
$c-white: #fcfff7;
$c-gray: #f5f5f5;
$c-cyan: #00aeef;
$c-error-red: #ff6060;

/* fonts (prefix: f) */
$f-main: 'Open Sans', sans-serif;
$f-black: 'Open Sans', sans-serif;
$f-light: 'Open Sans', sans-serif;

/* line-heights */
$line-height: 1;
$line-height-sm: 0.2;
$line-height-md: 0.5;

/* font sizes (prefix: f) */
$f-xs: rem(14);
$f-sm: rem(14);
$f-md: rem(16);
$f-lg: rem(36);
$f-xl: rem(58);
$f-xxl: rem(100);

/* padding (prefix: pd) */
$pd-xs: rem(4);
$pd-sm: rem(8);
$pd-md: rem(16);
$pd-lg: rem(28);
$pd-xl: rem(50);

/* margins (prefix: m) */
$m-xs: rem(4);
$m-sm: rem(8);
$m-md: rem(16);
$m-lg: rem(28);
$m-xl: rem(50);

/* grid-12 */
$mobile-grid: repeat(6, minmax(0, 1fr));
$desktop-grid: repeat(12, minmax(0, 1fr));

/* screen sizes */
$mobile: rem(400);
$tablet: rem(800);
$desktop-sm: rem(1200);
$desktop-md: rem(1400);
$desktop-lg: rem(1800);

/* borders (prefix: b) */
$bd-border-radius: rem(20);
$bd-border-main: solid $c-black 1px;
$bd-border-main-inverted: solid $c-gray 1px;
